package-lock=false
registry=https://registry.npmmirror.com/
strict-ssl=false
python=F:\python3.7.9\python.exe
prefix=E:\workspace_webstorm\bk-cmdb-v3.10.41\bk-cmdb-release-v3.10.41\src\ui\node_modules
sass_binary_site=https://npmmirror.com/mirrors/node-sass